<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
  <body background="/images/album.jpg" bgcolor="orange">

  <img src="http://r69.cooltext.com/rendered/cooltext1085078868.png" alt="some_text">
  <img style="max-width:95%;border:6px inset #545565;" src="images/tape2.jpeg" align="right">
    <title>Spkr</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
</head> 
<body> 
<div id="navbar"> 
  <ul> 
	<li><a href="#">Home</a></li> 
	<li><a href="#">Create</a></li> 
	<li><a href="#">Playlists</a></li> 
	<li><a href="#">Contact</a></li> 
  </ul> 
</div> 

</body> 
</html>